<h3>Latitud: <b>{{coordenadaAzar.getLatitud()}}</b>
Longitud: <b>{{coordenadaAzar.getLongitud()}}</b></h3>

<h3>Traduce a Sexagesimal: </h3>
<b>Latitud</b><br>
Grados: <input class="input" type="number" [(ngModel)]="gradosLatUser">
Minutos: <input class="input" type="number" [(ngModel)]="minutosLatUser">
Segundos: <input  class="input" type="number" [(ngModel)]="segundosLatUser">
Punto Cardinal: <input class="input" type="text" [(ngModel)]="puntoCardinalLatUser">
<br>
<b>Longitud </b><br>
  Grados: <input class="input" type="number" [(ngModel)]="gradosLongUser">
  Minutos: <input class="input" type="number" [(ngModel)]="minutosLongUser">
  Segundos: <input  class="input" type="number" [(ngModel)]="segundosLongUser">
  Punto Cardinal: <input class="input" type="text" [(ngModel)]="puntoCardinalLongUser">
<br>

<button (click)="evaluarRespuesta()">Comprobar</button>

<p *ngFor="let mapEntry of coordenadaAzar.toSexagesimalLongitud() | keyvalue">
  {{ mapEntry.value }}
</p>
<hr>
<p *ngFor="let mapEntry of coordenadaAzar.toSexagesimalLatitud() | keyvalue">
    {{ mapEntry.value }}
  </p>



<h1 [ngClass]="{'mal':resultado=='Fallo', 'bien':resultado=='Acierto'}">{{resultado | uppercase}}</h1>

