<h3>Latitud: <b>{{coordenadaAzar.getLatitud()}}</b><br>
Longitud: <b>{{coordenadaAzar.getLongitud()}}</b></h3>

<h3>Traduce a Sexagesimal: </h3>
<div>
  <b>Latitud: </b><br>
  <input class="input" (focus)="seleccionarAlClick($event)" type="text" [(ngModel)]="latSexagesimalUser.grados">º
  <input class="input" (focus)="seleccionarAlClick($event)" type="text" [(ngModel)]="latSexagesimalUser.minutos">'
  <input  class="input segundos" (focus)="seleccionarAlClick($event)"  type="text" [(ngModel)]="latSexagesimalUser.segundos">''
  Punto Cardinal: <input (focus)="seleccionarAlClick($event)" class="input" type="text" [(ngModel)]="latSexagesimalUser.puntoCardinal">
</div>
<br>
<div>
<b>Longitud:  </b><br>
  <input class="input" (focus)="seleccionarAlClick($event)" type="text" [(ngModel)]="longSexagesimalUser.grados">º
  <input class="input" (focus)="seleccionarAlClick($event)" type="text" [(ngModel)]="longSexagesimalUser.minutos">'
  <input  class="input segundos" (focus)="seleccionarAlClick($event)" type="text" [(ngModel)]="longSexagesimalUser.segundos">''
  Punto Cardinal: <input class="input" (focus)="seleccionarAlClick($event)"  type="text" [(ngModel)]="longSexagesimalUser.puntoCardinal">
</div>
<br>

<button (click)="evaluarRespuesta()">Comprobar</button><br>

<h1 [ngClass]="{'mal':resultado=='Fallo', 'bien':resultado=='Acierto'}">{{resultado | uppercase}}</h1>
<br>
lat:
<p *ngFor="let mapEntry of coordenadaAzar.toSexagesimalLatitud() | keyvalue">
  {{ mapEntry.key }} --> {{ mapEntry.value }}
</p>
<hr>
long:
<p *ngFor="let mapEntry of coordenadaAzar.toSexagesimalLongitud() | keyvalue">
    {{ mapEntry.key }} --> {{ mapEntry.value }}
  </p>


