<h3>Latitud: <b>{{coordenadaAzar.getLatitud()}}</b><br>
Longitud: <b>{{coordenadaAzar.getLongitud()}}</b></h3>

<h3>Traduce a Sexagesimal: </h3>
<div>
  <b>Latitud: </b>
  <!--<input type="radio" [value]="'N'"  [ngModel]="puntoCardinalLatUser" > N
  <input type="radio" [value]="'S'"  [ngModel]="puntoCardinalLatUser" > S-->
  <input class="input" type="text" [(ngModel)]="gradosLatUser">º
  <input class="input" type="text" [(ngModel)]="minutosLatUser">'
  <input  class="input segundos" type="text" [(ngModel)]="segundosLatUser">''
  Punto Cardinal: <input class="input" type="text" [(ngModel)]="puntoCardinalLatUser">
</div>
<br>
<div>
<b>Longitud:  </b>
  <input class="input" type="text" [(ngModel)]="gradosLongUser">º
  <input class="input" type="text" [(ngModel)]="minutosLongUser">'
  <input  class="input segundos" type="text" [(ngModel)]="segundosLongUser">''
  Punto Cardinal: <input class="input" type="text" [(ngModel)]="puntoCardinalLongUser">
</div>
<br>

<button (click)="evaluarRespuesta()">Comprobar</button><br>

<h1 [ngClass]="{'mal':resultado=='Fallo', 'bien':resultado=='Acierto'}">{{resultado | uppercase}}</h1>
<br>
lat:
<p *ngFor="let mapEntry of coordenadaAzar.toSexagesimalLatitud() | keyvalue">
  {{ mapEntry.key }} --> {{ mapEntry.value }}
</p>
<hr>
long:
<p *ngFor="let mapEntry of coordenadaAzar.toSexagesimalLongitud() | keyvalue">
    {{ mapEntry.key }} --> {{ mapEntry.value }}
  </p>


