<h2 (mouseenter)="ponerCoordenadas('Almansa')"
(mouseleave)="resetearCoordenadas()"
(click)="resetearDistancia()">
  Referencia: <b class="destacada"> ALMANSA</b>
</h2>
<table>
  <tr>
      <ng-container *ngFor="let localidad of localidadesS.localidades | keyvalue" >

        <td (click)="calcularDistancia($event,localidad.key)" (mouseenter)="ponerCoordenadas(localidad.key)"
        (mouseleave)="resetearCoordenadas()" *ngIf="localidad.key != 'Almansa'">
          {{ localidad.key }}
        </td>

      </ng-container>
  </tr>
</table>
<br>
<h3>Coordenadas: <b>{{coordenadasSeleccionadas}}</b></h3>
<h3>Distancia de {{localidadSeleccionada}} a Almansa: <b>{{distanciaARefencia}}</b></h3>
