table{
  width: 100px;;
  margin: 0 auto;
  text-align: center;
}
.destacada{
  text-transform: capitalize;
  font-weight: bold;

}

.destacada:hover{
  background-color: plum;
}

table tr td:hover{
  background-color: plum  ;
  cursor: pointer;
}

table tr td{
  text-align: center;
}
h2{
  display: inline-block;
}

.conClick{
  background-color: plum;
}


